extends ../layouts/nav.pug

block styles
    link(rel="stylesheet", href="/css/details.css")

block content
    .details-wrapper
        .imageUrl
            .poster-img
                img(src= item.imageUrl)
        .info
            .info-wrapper
                .flag
                    img(src="https://upload.wikimedia.org/wikipedia/commons/e/e2/Flag_of_the_United_States_%28Pantone%29.svg")            
                .title-row
                    .title
                        h1
                            span #{item.title}
                            br
                            span.slogan  #{item.slogan}
                .header-info
                    if item.description
                        h3 Overview
                        .description
                            p #{item.description}
    .summary-wrapper
        .summary
            .item-wrapper
                if item.summary && item.summary.length > 0
                    each row in item.summary
                        .key(style=(row.value ? "" : "display:none;"))
                            p #{row.key}
                        .value(style=(row.value ? "" : "display:none;"))
                            p #{row.value}
                else
                    h3
                        i No know data!
                                                  
    .credit-wrapper
        h3 Known for
        hr
        .cast-cell
            if item.cast && item.cast.length > 0
                each screen in item.cast
                        .cast-item
                            .photo
                                a(href="/" + screen.type + "/" + screen.id)
                                    img(src=screen.poster)
                            .name
                                p #{screen.title}
            else
                h1 No any known credits